.body{
background-color: skyblue;

}

/*CSS Styling*/


#nav1 {

    align-items: center;
    background: lightgrey;
    font-family: Verdana, sans-serif;
}

#button {

    font-family: Verdana, sans-serif;
    background-color: aliceblue;
}


/*This will hide the question once the function starts*/
.hideMe {
    display: none;

}

#nav1 {
    width: 500px;
    height: 55px;
    border-radius: auto;
    align-items: center;
    background-color: bisque;
    

}

#header {
    align-content: center;
    font-family: Verdana, sans-serif;
}

#scorebox {

    width: 5%;
    height: 20%;
    border:fit-content;

}

#scorebox2 {

    width: 70px;
    height: 20px;

}


.card {
    
    background-color: bisque;
    border: 1px solid #eceff1;
    border-radius: 15px;
    box-shadow: lightyellow;
    margin: 2%;
    margin-top: 40px;
    padding: 15px;
    width: 35%;
   
  }